<div class="row">
    <div class="col">
        <img [src]="(author.dp)?author.dp:'../assets/male_dp.jpg'" class="authorDp" alt="">
    </div>
    <div class="col">
        <label class="name">{{author.firstName + " " + author.lastName}}</label>
        <p class="jobTitle">{{author.jobTitle}}</p>
        <p class="counters"><span>{{(author.followers)?author.followers.length:0}}</span> Followers •
            <span>{{(author.blogs)?author.blogs.length:0}}</span>
            Articles</p>
    </div>
</div>