<div>
    <div class="card" *ngFor='let blogs of allBlogs,let i = index'>
        <div class="cc">
        <a>
        <img [src]="'http://localhost:7000/'+blogs.authorDp" class="auth_Pic" alt="authImg" height="10%" width="15%" style="border-radius: 100%;" >
            <p class="authorName">{{blogs.authorName}}</p>
        </a>
            <img class="blog_Pic" [src]="'http://localhost:7000/'+blogs.photo" alt="blogImg">
        </div>
        <div class="card-body">

            <h3 class="card-title">{{blogs.title}}</h3>
            <p class="createdAt" style="font-size:smaller;">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-stopwatch" viewBox="0 0 16 16">
                    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                    <path
                        d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                </svg>
                {{blogs.createdAt}}
            </p>
            <div *ngIf ="selectedBlogs.includes(i)">
                <p class="blog_body">{{blogs.body}} </p>
                <span   style="display: inline; font-weight: bold; text-decoration: underline; color: blue; " routerLink='/details/{{blogs._id}}'>Read More</span><br>
                <button class="btn btn-secondary"  (click)='hideDetails(i)' style="margin-top: 1%;">Hide</button>
            </div>
            <p >{{blogs.likesCount}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-heart-fill"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
            </p>
            <button class="btn btn-info" (click)='showDetails(i)'>Details</button>
        </div>
    </div>
</div>
