<div class="content">
  <div [ngClass]="{'container':true,'container-selected' : isSelected ,'container-ready': isReady}" id="app">
    <div class="team-container">
      <div class="header">
        <h2 class="header-title">Our Team</h2>
      </div>
      <div class="person-list">
        <div class="person" *ngFor="let person of persons;let i = index" (click)="selectPerson(i,$event)"><img
            class="person-img" [src]="person.photo">
          <div class="person-details">
            <h2 class="person-title">{{person.name}}</h2>
            <p class="person-desc">{{person.title}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="team-detail">
      <div class="team-detail-inner" *ngIf="isOk">
        <div class="team-detail-left" style='background-image:url({{selectedPersonData.photo}})'>
          <div class="team-detail-photo"><img [src]="selectedPersonData.photo" alt="">
          </div>
        </div>
        <div class="team-detail-right">
          <div class="team-detail-bio">
            <div class="team-detail-header">
              <h2 class="person-title">{{selectedPersonData.name}}</h2>
              <p class="person-desc">{{selectedPersonData.title}}</p>
              <div class="social">
                <a [href]="selectedPersonData.social.facebook" target="_blank" class="ion-social-facebook"></a>
                <a [href]="selectedPersonData.social.twitter" target="_blank" class="ion-social-twitter"></a>
                <a [href]="selectedPersonData.social.linkedin" target="_blank" class="ion-social-linkedin"></a>
              </div>
            </div>
            <div class="team-detail-bio-content">
              {{selectedPersonData.bio}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>