<div class="container rounded bg-white mt-5 mb-5">
    
        <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm)">
            <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU">
                    <span class="font-weight-bold">{{mData.firstName+" "+mData.lastName}}</span>
                    <span class="text-black-50">{{mData.email}}</span><span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Data</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label>
                            <input type="text" formControlName="firstName"
                                class="form-control" placeholder="first name" value={{mData.firstName}}></div>
                        <div class="col-md-6"><label class="labels">Last Name</label>
                            <input type="text" formControlName="lastName"
                                class="form-control" placeholder="lastName"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input formControlName="email" type="text" class="form-control" placeholder="Email"
                            [(ngModel)]="mData.email"
                                >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Gender</label>
                            <input formControlName="gender" type="text" class="form-control" placeholder="Gender"
                               >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">jobTitle</label>
                            <input formControlName="jobTitle" type="text" class="form-control" placeholder="jobTitle"
                                >
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Date of Birth</label>
                            <input formControlName="dob" type="text" class="form-control" placeholder="BirthDate"
                                >
                        </div>
                        <div class="col-md-12"><label class="labels">bio</label>
                            <textarea formControlName="bio" type="text" class="form-control" placeholder="bio"
                                ></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Password</label>
                            <input formControlName="password" type="password" class="form-control"
                                placeholder="new Password">
                        </div>

                    </div>
                    <!--
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div>
                    -->

                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                            Profile</button></div>
                </div>

            </div>
    </div>

        </form>

</div>