body {
    background: #807d80
}

.form-control:focus {
    box-shadow: none;
    border-color: #363536
}

.profile-button {
    background:#807d80;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #363536
}

.profile-button:focus {
    background: #363536;
    box-shadow: none
}

.profile-button:active {
    background: #363536;
    box-shadow: none
}

.back:hover {
    color: #363536;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #363536;
    color: #fff;
    cursor: pointer;
    border: solid 1px #363536;
}