<div class="content px-4 py-5 mx-auto" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-10">
                            <h6 class="msg-info mt-5 display-4">Login</h6>
                            <div class="form-group"> <label class="form-control-label">User Name</label>
                                <input type="text" formControlName="username" id="email"
                                    placeholder="User Name"
                                    [ngClass]="{ 'is-invalid': submitted && fieldget.username.errors }"
                                    class="form-control">
                            </div>

                            <div *ngIf="submitted && fieldget.password.errors" class="invalid-feedback">
                                <div *ngIf="fieldget.password.errors.required">Password is required</div>
                            </div>
                            <div class="form-group"> <label class="form-control-label">Password</label>
                                <input type="password" formControlName="password" id="psw"
                                    placeholder="Password"
                                    [ngClass]="{ 'is-invalid': submitted && fieldget.password.errors }"
                                    class="form-control">
                            </div>
                            <div *ngIf="submitted && fieldget.password.errors" class="invalid-feedback">
                                <div *ngIf="fieldget.password.errors.required">Password is required</div>
                            </div>

                            <div class="form-group">
                                <label class="container-checkbox">Remember me
                                    <input type="checkbox" checked="checked" (change)="rememberMe=!rememberMe">
                                    <span class="checkmark"></span>
                                  </label>
                            </div>

                            <div class="row justify-content-center my-3 px-3">
                                 <button [disabled]="loading"
                                    type="submit" class="btn-block btn-color rgb-animation">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Login</button> </div>
                            <div class="row justify-content-center my-2"> <a href="#"><small class="lead">Forgot
                                        Password?</small></a> </div>
                        </div>
                    </div>
                    <div class="bottom text-center mb-5">
                        <p [routerLink]="['/register']" routerLinkActive="router-link-active"
                            class="sm-text mx-auto mb-3 lead">Don't have an account? <button class="btn btn-white ml-2">Create
                                new</button></p>
                    </div>
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right" style="margin-top: 10rem !important;">
                        <h3 class="text-white mb-5" style="font-size:40px;">Welcome to ENGADGET</h3> <small class="text-white lead">This site allows you
                            to publish your own articles or projects that you have already done, and it also allows you
                            to see what others have published and see their projects and learn from them.</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="isWrongCreds" class="alert alert-danger fixed-top" style="margin-top: 8rem;" role="alert">
    Wrong Username or password!
    <button type="button" (click)="isWrongCreds=false" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


























<!--


<div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.username.errors }" />
            <div *ngIf="submitted && fieldget.username.errors" class="invalid-feedback">
                <div *ngIf="fieldget.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.password.errors }" />
            <div *ngIf="submitted && fieldget.password.errors" class="invalid-feedback">
                <div *ngIf="fieldget.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label style="display: flex">
                <input type="checkbox" (change)="rememberMe=!rememberMe">
                Remember me.
            </label>
        </div>
        <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-link">Register</a>
        </div>
    </form>

</div>






-->