.content {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url('../../assets/bg3.jpg');
    background-size: cover;
}
.invalid-feedback{
    margin-top: -45px;
}
input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #363536 !important;
    outline-width: 0;
    font-weight: 400
}
.card0{
    background-color: #f8f7f491;
}
button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    margin: 40px 30px;
    background-color: #dafff391;
}

.card2 {
    width: 50%;
    background-color: #04413682;
}

#logo {
    width: 70px;
    height: 60px
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}


.btn-white {
    border-radius: 50px;
    color: #363536;
    background-color: whitesmoke;
    padding: 8px 40px;
    cursor: pointer;
    border: 1px solid #363536 !important;
    transition: .3s ease-out;
}

.btn-white:hover {
    color: #fff;
    transition: .3s ease-in;
    background-image: linear-gradient(to right, #a7a5a2, #363536)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
        
    }

    

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

   

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}