<div class="content">
    <h2 class="b dark">Create New Blog</h2>
    <form [formGroup]="createBlogForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <input class="form-control" formControlName="title" type="text" placeholder="enter title">
        </div>
        <div class="form-input">
            <textarea class="form-control" rows="10" formControlName="body" placeholder="enter blog body"></textarea>

        </div>
        <div class="form-input">
            <input class="form-control" type="file" accept='image/*' (change)="uploadFile($event)" formControlName="photo"
                placeholder="attach photo">
        </div>
        <div class="col mb-4" *ngIf="photoPath">
            <img [src]="photoPath" class="img-responsive">
        </div>
        <div class="fixed-bottom">
            <button  [attr.disabled]="isSubmitted?true:null" class="form-control form-submit" type="submit">
             <span *ngIf="isSubmitted" class="spinner-border spinner-border-sm mr-1"></span>
             Post as @{{this.auth.getCurrUser().username}}
            </button>
        </div>
    </form>
</div>