.content {
    padding: 2rem 10% 5rem;
}

.form-input {
    margin: 1rem 0;
}

.form-control {
    border-radius: 0;
}

.form-submit {
    background-color: var(--shade-blue);
    color: white;
    height: 3.7rem;
    font-weight: bold;
    font-size: 1.5em;
}

.form-submit:hover {
    box-shadow: 0px 0px 10px var(--shade-blue);
}

.btn {
    cursor: pointer;
    border: 1px solid var(--shade-grey);
}

#attachPhoto {
    display: none;
}
