<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <img [src]="(blog.photo)?blog.photo:'../assets/male_dp.jpg'" class="img-responsive" alt="authorDp">
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="blogContent">
                <h3>
                    <a routerLink='/blog-details/{{blog._id}}' class="title">
                        <label class=" title">{{blog.title}}</label>
                    </a>
                </h3>
            </div>
            <div class="blogInfo">
                <div class="btn">
                    <img class="authorDp img-responsive" [src]="(blog.authorDp)?blog.authorDp:'../assets/male_dp.jpg'">
                    <a class="btn" [routerLink]="['/author/'+blog.author]">By {{blog.authorName}} </a>
                </div>

                <p class="counter">
                    <fa-icon [icon]="faThumbsUp"></fa-icon>
                    <span> {{(blog.likes)?blog.likes.length:'0'}}</span> Likes •
                    <fa-icon [icon]="faComment"></fa-icon>
                    <span> {{(blog.comments)?blog.comments.length:'0'}}</span> Comments
                </p>
            </div>
        </div>
    </div>
</div>