
<div >
    <div class="card " >
        <div class="cc">
        <a>
        <img [src]="(blog.authorDp)?blog.authorDp:'../assets/male_dp.jpg'" class="authorDp" alt="authorDp" >
            <p class="authorName">{{blog.authorName}}</p>
        </a>
            <img class="blog_Pic" [src]="blog.photo" *ngIf="blog.photo" alt="blogImg">
        </div>
        <div class="card-body">

            <h3 class="card-title">{{blog.title}}</h3>
            <p class="createdAt" style="font-size:smaller;">

                
                {{blog.createdAt}}
            </p>
            
                <span   style="display: inline; font-weight: bold; text-decoration: underline; color: #363536; " (click)='setSelectedBlog()' routerLink='/blog-details/{{blog._id}}' >Read More</span><br>
            <div>
                <span>{{(blog.likes)?blog.likes.length:'0'}} Likes </span>
                <span>{{(blog.comments)?blog.comments.length:'0'}} Comments </span>
            </div>
        </div>
    </div>
</div>
