<div class="content">
    <div class="row bg-smoke">
        <div class="col-md-2">
            <div class="img_rounded">
                <img [src]="(author.dp)?author.dp:'../assets/male_dp.jpg'">
            </div>
            <a *ngIf="this.loggedInProfile" href='author/{{id}}/edit-profile' class="btn btn-default d-block mt-3">
                <fa-icon [icon]="faEdit"></fa-icon>
                Edit Profile</a>
        </div>
        <div class="col-md-8">
            <h1 class="font-weight-bold">{{author.firstName + " " + author.lastName}}</h1>
            <footer style="font-size: larger;" class="blockquote-footer">
                @{{author.username}} <span *ngIf="author.links"> | </span>
                <a href="{{(author.links)?author.links.facebook:''}}" class="fa fa-facebook"
                    *ngIf="author.links && author.links.facebook"></a>
                <a href="{{(author.links)?author.links.instagram:''}}" class="fa fa-instagram"
                    *ngIf="author.links && author.links.instagram"></a>
                <a href="{{(author.links)?author.links.twitter:''}}" class="fa fa-twitter"
                    *ngIf="author.links && author.links.twitter"></a>
                <a href="{{(author.links)?author.links.linkedin:''}}" class="fa fa-linkedin"
                    *ngIf=" author.links && author.links.linkedin"></a>
                <a href="{{author.email}}" class="fa fa-email"></a>
            </footer>
            <label style="font-size: larger;" class="font-weight-bold mt-2"> 
                <fa-icon style="color:lightgrey;" [icon]="faBriefcase"></fa-icon> &nbsp;{{(author.jobTitle?author.jobTitle:'')}}
            </label>
        </div>
        <div class="col-md-2">
            <div *ngIf="!this.loggedInProfile" class="followCard mb-2">
                <button class="btn followbtn" (click)="isFollowed?unfollow():follow()" [ngClass]="{followed: isFollowed}">{{isFollowed?'Following':'Follow'}}</button>
            </div>
            <button (click)="scrollToElement(recentblogs)"
                class="btn btn-default">{{(author.blogs)?author.blogs.length:0}}
                &nbsp;<span class="lead"> <fa-icon [icon]="faNewspaper"></fa-icon> Blogs</span>
            </button>
            <a [routerLink]="['/followers']" class="btn btn-default">{{(author.followers)?author.followers.length:0}}
                &nbsp;<span class="lead"> <fa-icon [icon]="faUserFriends"></fa-icon> Followers</span></a>
            <a [routerLink]="['/followings']" class="btn btn-default">{{(author.followings)?author.followings.length:0}}
                &nbsp;<span class="lead"> <fa-icon [icon]="faUserFriends"></fa-icon> Following</span></a>
        </div>
        <div class="col-md-12 top-border">
            <p class="lead">{{ author.bio?author.bio:'' }}</p>
        </div>
    </div>
    <div #recentblogs class="row p-0 pt-4">
        <h4 class="font-weight-bold text-underline" style="margin-left: 6rem;">Recent Blogs</h4>
        <div class="m-2">
            <app-blogs [blogs]="blogs"></app-blogs>
        </div>
    </div>
    <div *ngIf="isLoading" class="fixed-bottom mb-5" style="width: 100%;text-align: center;">
        <span class="spinner-border spinner-border-lg" style="color: var(--shade-teal)"></span>
    </div>
</div>