.bg-smoke{
    padding-top: 2rem;
    background-color:whitesmoke;
}
.row{
    padding:2rem 5rem;
}

.btn-default{
    font-size: 1.2rem;
}

.top-border{
  padding-top: 1rem;
    border-top: 1px solid #d5d5d5;
}