<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="col">
            <img src="" alt="logo" width="30" height="24">
        </div>

        <div class="col">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuth">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/followings-blogs']" routerLinkActive="router-link-active" >Followings Blogs</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuth">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/followers']" routerLinkActive="router-link-active" >Followers</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuth">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/followings']" routerLinkActive="router-link-active" >Followings</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuth">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/suggestions']" routerLinkActive="router-link-active" >Suggestions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col btn-group">
            <div class="btn" *ngIf="isAuth">
                <img src="" class="profilePhoto">
                <a class="" href="/author">{{author.FirstName+" "+author.LastName}} </a>
            </div>
            <button class="btn" *ngIf="!isAuth">Login</button>
            <button class="btn" *ngIf="isAuth">Search</button>
        </div>
    </div>
</nav>
