<div class="content">
  <div *ngIf="this.searchService.isResultsFound">
    <app-blogs *ngIf="this.searchService.isBlogs" [blogs]="this.searchService.blogs"></app-blogs>
    <div class="card" *ngIf="!this.searchService.isBlogs">
      <app-author-card *ngFor="let author of this.searchService.authors" [author]="author"></app-author-card>
    </div>
  </div>
  <diV class="noResults" *ngIf="!this.searchService.isResultsFound">
    <img class="img-responsive" src="../../assets/no_results_found.webp">
  </diV>
</div>