<div class="card">
    <div class="author_data">
        <div class="blog_Pic_container">
            <img [src]="blog.authorDp" class="authorDp" alt="authorDp">
            <p class="authorName">{{blog.authorName}}</p>
            <img class="blog_Pic" [src]="blog.photo" height="80%" width="100%" alt="blogImg">
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title ">{{blog.title}}</h3>
        <p class="createdAt">
            {{blog.createdAt}}
        </p>
        <p class='blog_body '>{{blog.body}}</p>
        <div class="counter">
            <span>
                {{likesCount}} Likes 
            </span>
            <span>
                {{(blog.comments?blog.comments.length:'0')}} Comments
            </span>
        </div>
        <div class="btn-group">
            <button class="btn" (click)="isLiked?isLiked=false:isLiked=true"
             [ngClass]="{'btn-primary': isLiked}" (click)="likeBlog()"
             >{{isLiked?'Unlike':'like'}}</button>
            <button class="btn">Comment</button>
        </div>

    </div>

</div>
<!-- comments -->
<!-- add comment -->
<form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)">
    <input type="text" formControlName="commentBody" placeholder="enter your comment">
    <button type="submit">Post as @{{auth.getCurrUser().username}}</button>
</form>
<!-- show comments -->
<app-comment-card *ngFor="let comment of blog.comments" [comment]="comment"></app-comment-card>


<!--
     <div>
            <p class="likes" style="display: inline;">{{(blog.likes)?blog.likes.length:''}}</p>
            <form [formGroup]="formLike" (ngSubmit)="onSubmit(formLike)">
                <button type="submit" *ngIf="flaglike == false" (click)="Like()" style="display: inline;" formControlName="likes">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    *ngIf="flaglike == false"
                    
                    style="margin-right: 2px;" width="16" height="16" fill="gray"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" 
                            
                            (click)="Like()"
                            
                            />
                    </svg>
                </button>
                <button type="button" 
                
                *ngIf="flaglike == true" (click)="DisLike()" style="display: inline;" formControlName="likes">
                    <svg xmlns="http://www.w3.org/2000/svg"   
                    style="margin-right: 2px;" width="16" height="16" fill="red"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" 
                            />
                    </svg>
                </button>    
              </form>
        </div>

-->