<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="card" >
    <div class="author_data">
        <div class="blog_Pic_container">
            <img [src]="blog.authorDp" class="authorDp" alt="authorDp">
            <p class="authorName">{{blog.authorName}}</p>
            <img class="blog_Pic" [src]="blog.photo" height="80%" width="100%" alt="blogImg">
        </div>
    </div>
    <div class="card-body">
        <h3 class="card-title ">{{blog.title}}</h3>
        <p class="createdAt">
            {{blog.createdAt}}
        </p>
        <p class='blog_body '>{{blog.body}}</p>

        <div class="counter">
            <span>
                {{likesCount}} Likes 
            </span>
            <span>
                {{(blog.comments?blog.comments.length:'0')}} Comments
            </span>
        </div>
        <div class="btn-group">
            <button class="btn" (click)="isLiked?isLiked=false:isLiked=true"
             [ngClass]="{'btn-primary': isLiked}" (click)="likeBlog()"
             >{{isLiked?'Unlike':'like'}}</button>
            <button class="btn">Comment</button>
        </div>

    </div>

</div>
<!-- comments -->
<!-- add comment -->
<form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)">
    <textarea type="text" formControlName="commentBody" placeholder="enter your comment"></textarea>
    <button type="submit">Post as @{{auth.getCurrUser().username}}</button>
</form>
<!-- show comments -->
<app-comment-card *ngFor="let comment of blog.comments" [comment]="comment"></app-comment-card>


