<div class="content">
    <!-- The component uses reactive form validation to validate the input fields, -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.firstName.errors }" />
            <div *ngIf="submitted && fieldget.firstName.errors" class="invalid-feedback">
                <div *ngIf="fieldget.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.lastName.errors }" />
            <div *ngIf="submitted && fieldget.lastName.errors" class="invalid-feedback">
                <div *ngIf="fieldget.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.username.errors }" />
            <div *ngIf="submitted && fieldget.username.errors" class="invalid-feedback">
                <div *ngIf="fieldget.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" name="gender"
                    id="inlineRadio1" value="male" >
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" name="gender"
                    id="inlineRadio2" value="female">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="jobtitle">Job Title</label>
            <input type="text" formControlName="jobTitle" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.jobTitle.errors }" />
            <div *ngIf="submitted && fieldget.jobTitle.errors" class="invalid-feedback">
                <div *ngIf="fieldget.jobTitle.errors.required">Job Title is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="useremail">Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.email.errors }" />
            <div *ngIf="submitted && fieldget.email.errors" class="invalid-feedback">
                <div *ngIf="fieldget.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fieldget.password.errors }" />
            <div *ngIf="submitted && fieldget.password.errors" class="invalid-feedback">
                <div *ngIf="fieldget.password.errors.required">Password is required</div>
                <div *ngIf="fieldget.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>

</div>